/*paleta: https://coolors.co/050f07-194d23-36a149-85d694-c2ebc9 */

.navbar{
  background-color: #36A149;
}

#navPesquisa{
  border-radius: 10%;
  background-color: white;
  margin-left: 0px;
}

#navLogin, #navLogout{
  margin-left: 15px ;
  margin-right: 20px ;
  border-color: white;
  border-radius: 10%;
  background-color: white;
}

h2{
  font-family: Verdana;
  color: white;
}

#tabelas{
  margin-top: 5% !important;
  font-family: Verdana;
}

table.table-bordered{
  border:2px solid #194d23;
}

ver isso para deixar cores diferentes no head e o resto
th{
  background-color: #C2EBC9;
}

.modal-content{
  border-color: #36A149;
  border-width: 2px;
  font-family: Verdana;
  color:  #050F07;
}

