/*paleta: https://coolors.co/050f07-194d23-36a149-85d694-c2ebc9 */

.navbar{
  background-color: #36A149;
}

#navPesquisa, #navLogin{
  border-radius: 10%;
  background-color: white;
}



#navlogin, #navLogout{
  margin-left: 40px;
  margin-right: 25px;
}

h2{
  font-family: Verdana;
  color: white;
}

.tabelas{
  padding-top: 5%;
}

.modal-content{
  border-color: #36A149;
  border-width: 2px;
  font-family: Verdana;
  color:  #050F07;
  
}

#accordionCardapios{
  padding-top: 5%;
}